<!--
  Generated template for the FavoritesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Favorite Quotes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor = "let item of ['satu', 'dua', 'tiga']">

  </ion-card>
</ion-content>
